

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Brand</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-Brand"
                        routerLink="/dashboard/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-Brand" href="/dashboard/brands">Brands</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Brand</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                <form [formGroup]="addBrandForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            
                    <div class="card-head">
                        <header>Add Brand</header>
                        <span class="float-right px-2"><a routerLink="/dashboard/brands" class="">All Brands</a></span>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-12 p-t-20">
                            <div
                                clahss="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <label class="text-muted">Brand Name</label>
                                <input class="mdl-textfield__input" type="text" formControlName="brand_name">
                               
                            </div>
                        </div>
                        
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" [disabled]="!addBrandForm.valid">Add</button>
                            <button type="button"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->
