

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Edit VAT</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-Charges"
                            routerLink="/dashboard/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-Charges" href="/dashboard/vat">Vat Charges</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Edit VAT</li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                <form [formGroup]="editVatForm" (ngSubmit)="updateVat()" style="width: 100%;">
                      
                    <div class="card-head">
                        <header>Edit VAT</header>
                    </div>
            
                    <div class="card-body row">

                        <div class="col-lg-12 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input w-25" type="number" step="0.01" formControlName="vat" required>
                                <label class="mdl-textfield__label">VAT</label>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Update</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->