

<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Area</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-City Areas"
                        routerLink="/dashboard/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-City Areas" href="/dashboard/areas">Areass</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Area</li>
                </ol>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                <form [formGroup]="addAreaForm" (ngSubmit)="onSubmit()" style="width: 100%;">
                    <div class="card-head">
                        <header>Add Area</header>
                        <span class="float-right px-2"><a routerLink="/dashboard/areas" class="">All Areas</a></span>
                    </div>
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div
                                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <label class="text-danger">Area Name</label>
                                <input class="mdl-textfield__input" type="text" formControlName="area_name" required>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <label class="" style="color: #bfbebe !important;">City Name</label>
                            <select class="form-control border-top-0 border-right-0 border-left-0" formControlName="city_id" required>
                                <option value="" > <span style="color: #bfbebe !important;">Select one</span> </option>
                                <option [ngValue]="city.city_id" *ngFor="let city of cities.data">{{ city.city_name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-12 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield txt-full-width">
                                <textarea class="mdl-textfield__input" rows="4" formControlName="description" required></textarea>
                                <label class="mdl-textfield__label" for="text7">Description</label>
                            </div>
                        </div>
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" [disabled]="!addAreaForm.valid">Add</button>
                            <button type="reset"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default">Cancel</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->
